<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>about - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>531480264.91523498</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
					<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>contact.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532698</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>internships - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>531480268.17024601</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
					<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>posts - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>531480269.30461401</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
					<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>projects - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>531480269.97722</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
					<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>publications - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>531480270.69536799</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
					<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>publications_selected - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>531480271.68956298</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
					<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>tags.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532298</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>527924992.72084397</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>about - 2.md</string>
		</array>
		<array>
			<string>tags.md</string>
		</array>
		<array>
			<string>publications_selected - 2.md</string>
		</array>
		<array>
			<string>posts - 2.md</string>
		</array>
		<array>
			<string>contact.md</string>
		</array>
		<array>
			<string>projects - 2.md</string>
		</array>
		<array>
			<string>publications - 2.md</string>
		</array>
		<array>
			<string>internships - 2.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>9</integer>
			<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
			<integer>6</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
