<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527924961.390423</real>
				<key>lastModification</key>
				<real>527924961.390423</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Untitled - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527924952.31856698</real>
				<key>lastModification</key>
				<real>527924952.31856698</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527924956.868065</real>
				<key>lastModification</key>
				<real>527924956.868065</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>about.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532102</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>contact.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532698</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>internships.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.515329</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>posts.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532602</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>projects.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532799</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>publications.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532799</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>publications_selected.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532501</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tags.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924924.51532298</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>527924992.72084397</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>about.md</string>
		</array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>Untitled - 3.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>tags.md</string>
		</array>
		<array>
			<string>publications_selected.md</string>
		</array>
		<array>
			<string>posts.md</string>
		</array>
		<array>
			<string>contact.md</string>
		</array>
		<array>
			<string>projects.md</string>
		</array>
		<array>
			<string>publications.md</string>
		</array>
		<array>
			<string>internships.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>9</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
