<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527925059.724011</real>
				<key>lastModification</key>
				<real>527925059.724011</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>527924992.71605903</real>
		<key>userIconName</key>
		<real>527925118.31852603</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Cloud</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>6</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
