<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict/>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>24c964a95b5dfce6be1b58fbdf7f1fa818568cc7d1ac99836d2a2e879a7f09e5</key>
			<integer>88</integer>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>6</integer>
			<key>8004599E-0FB6-4ED0-A2CA-4AF31CB7E3A7</key>
			<integer>1</integer>
			<key>E32652C1-7DCB-4E6A-A1E3-2A14ADD54656</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
