<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527924846.839387</real>
				<key>lastModification</key>
				<real>527924846.839387</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>_index.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924837.07691902</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>getting-started.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924837.07692599</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>managing-content.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924837.07692403</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>migrate-from-jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924837.07692099</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>widgets.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924837.07692301</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>writing-markdown-latex.md</key>
			<dict>
				<key>lastModification</key>
				<real>527924837.07692701</real>
				<key>version</key>
				<dict>
					<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>527924992.72659898</real>
		<key>userIconName</key>
		<real>527925101.72644198</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_index.md</string>
		</array>
		<array>
			<string>migrate-from-jekyll.md</string>
		</array>
		<array>
			<string>widgets.md</string>
		</array>
		<array>
			<string>managing-content.md</string>
		</array>
		<array>
			<string>getting-started.md</string>
		</array>
		<array>
			<string>writing-markdown-latex.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>24c964a95b5dfce6be1b58fbdf7f1fa818568cc7d1ac99836d2a2e879a7f09e5</key>
			<integer>38</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>24c964a95b5dfce6be1b58fbdf7f1fa818568cc7d1ac99836d2a2e879a7f09e5</key>
			<integer>6</integer>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>6BC31610-C341-4A65-82E1-94F4BF72E95D</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
